
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--  meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>TROY SNEAKERS</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link herf="/imgs/logo.png" rel="icon" />
</head>
<body>
	<div th:fragment="navbar">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
		<a class="navbar-brand" th:href="@{/}">Admin Portal</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExample09" aria-controls="navbarsExample09"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample09">
			<ul class="navbar-nav mr-auto">
			
				<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com"
					id="dropdown09" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">SHOES</a>
					<div class="dropdown-menu" aria-labelledby="dropdown09">
						<a class="dropdown-item" th:href="@{/shoes/add}">Add a new shoes</a> 
						<a class="dropdown-item" th:href="@{/shoes/shoesList}">View shoes list</a>
					</div></li>
					
					
			
			</ul>
			<ul class="navbar-nav my-2 my-md-0">
				<li class="nav-item"><a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}">LOGOUT</a></li>

			</ul>

		</div>
	</nav>
	</div>
	<div th:fragment="body-bottom-scripts">
		<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</div>
</body>
</html>